<div class="container mt-4">
    <h2>Empresas</h2>
    <table *ngIf="companies.length > 0" class="table table-striped">
    <thead class="table-dark">
        <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Dirección</th>
        <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let company of companies">
        <td>{{ company.name }}</td>
        <td>{{ company.address }}</td>
        <td><div class="d-flex flex-row gap-2 align-items-center"><a [routerLink]="['/empresas/editar', company.id]" class="btn btn-secondary btn-sm"><i class="bi bi-pencil"></i> <span class="d-none d-md-inline-flex ps-2">Editar</span></a> <button (click)="deleteCompany(company.id!)" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> <span class="d-none d-md-inline-flex ps-2">Eliminar</span></button></div></td>
        </tr>
    </tbody>
    </table>
    <div class="d-grid gap-2 d-md-block">
        <a [routerLink]="['/empresas/anadir']" class="btn btn-primary" href="#" role="button"><i class="bi bi-plus-lg"></i> Añadir empresa</a>
    </div>
</div>