<!-- Sección de Portada -->
<section class="container-fluid bg-primary text-white text-center py-5">
    <h1 class="display-3">Calculadora Presupuesto Mensual</h1>
    <h3 class="lead">
      ¿Sabes en qué se te va el dinero de la nómina? ¿Qué gastas en el supermercado o en ocio? <br>
      ¿Cuál es tu porcentaje de ahorros mensuales? 
      La calculadora de gastos e ingresos tiene la respuesta a todas esas preguntas.
    </h3>
  </section>
  <!-- Sección de Características -->
  <section class="container mt-5">
    <div class="row">
      <!-- Bloque 1 -->
      <div class="col-md-4 text-center mb-4">
        <div class="icon-container mb-3">
          <i class="bi bi-bank text-primary" style="font-size: 4rem"></i>
        </div>
        <h2>Calcular ingresos mensuales</h2>
        <p>
          El primer paso de la calculadora para conocer tu situación financiera 
          es buscar y apuntar tus ingresos mensuales.
        </p>
      </div>
  
      <!-- Bloque 2 -->
      <div class="col-md-4 text-center mb-4">
        <div class="icon-container mb-3">
          <i class="bi bi-wallet text-danger" style="font-size: 4rem"></i>
        </div>
        <h2>Calcular gastos mensuales</h2>
        <p>
          Esta es la parte más peliaguda de la calculadora de gastos, 
          ingresos y ahorros: buscar y apuntar tus principales gastos al mes. 
        </p>
      </div>
  
      <!-- Bloque 3 -->
      <div class="col-md-4 text-center mb-4">
        <div class="icon-container mb-3">
          <i class="bi bi-currency-dollar text-primary" style="font-size: 4rem"></i>
        </div>
        <h2>Calcular ahorro mensual</h2>
        <p>
          Aquí podrás calcular cuánto dinero logras ahorrar cada mes, analizando tus ingresos y gastos.        </p>
      </div>
    </div>
  </section>
  <!-- Sección de Redirección a la Calculadora -->
<section class="container text-center mt-5">
  <h2>¿Listo para calcular tu presupuesto mensual?</h2>
  <p class="lead">
    Si estás listo para conocer tu situación financiera, haz clic en el botón para acceder a nuestra calculadora y empezar a calcular tus ingresos, gastos y ahorros.
  </p>
  <a href="/calculadora-de-presupuesto" class="btn btn-success btn-lg mt-3">Ir a la Calculadora</a>
</section>
