<!-- Sección de Portada -->
<section class="container-fluid bg-primary text-white text-center py-5">
    <h1 class="display-3">Calculadora Presupuesto Mensual</h1>
    <p class="lead">
      ¿Sabes en qué se te va el dinero de la nómina? ¿Qué gastas en el supermercado o en ocio? <br>
      ¿Cuál es tu porcentaje de ahorros mensuales? 
      La calculadora de gastos e ingresos tiene la respuesta a todas esas preguntas.
    </p>
  </section>
  <!-- Sección de Características -->
  <section class="container mt-5">
    <div class="row">
      <!-- Bloque 1 -->
      <div class="col-md-4 text-center mb-4">
        <div class="icon-container mb-3">
          <i class="bi bi-bank text-primary" style="font-size: 4rem"></i>
        </div>
        <h3>Calcular ingresos mensuales</h3>
        <p>
          El primer paso de la calculadora para conocer tu situación financiera 
          es buscar y apuntar tus ingresos mensuales.
        </p>
      </div>
  
      <!-- Bloque 2 -->
      <div class="col-md-4 text-center mb-4">
        <div class="icon-container mb-3">
          <i class="bi bi-wallet text-danger" style="font-size: 4rem"></i>
        </div>
        <h3>Calcular gastos mensuales</h3>
        <p>
          Esta es la parte más peliaguda de la calculadora de gastos, 
          ingresos y ahorros: buscar y apuntar tus principales gastos al mes. 
        </p>
      </div>
  
      <!-- Bloque 3 -->
      <div class="col-md-4 text-center mb-4">
        <div class="icon-container mb-3">
          <i class="bi bi-currency-dollar text-primary" style="font-size: 4rem"></i>
        </div>
        <h3>Calcular ahorro mensual</h3>
        <p>
          l último paso de la calculadora está destinada al ahorro e inversiones.
        </p>
      </div>
    </div>
  </section>