<section class="container mt-4">
    <h2 class="">Añadir empresa</h2>
    <app-notification *ngIf="showAlert" [alertClass]="alertClass" [alertMessage]="alertMessage"/>
    <form [formGroup]="companyForm" (submit)="submitCompany()">
      <div class="form-group mb-4">
        <label for="name">Nombre</label>
        <input
          class="form-control"
          id="name"
          type="text"
          formControlName="name"
        />
      </div>
      <div class="form-group mb-4">
        <label for="address">Dirección</label>
        <input
          class="form-control"
          id="address"
          type="text"
          formControlName="address"
        />
      </div>
      <div class="form-group mb-4">
        <label for="phone">Teléfono</label>
        <input
          class="form-control"
          id="phone"
          type="text"
          formControlName="phone"
        />
      </div>
      <div class="form-group mb-4">
        <label for="email">Email</label>
        <input
          class="form-control"
          id="email"
          type="email"
          formControlName="email"
        />
      </div>
      <div class="d-grid gap-2 d-md-block">
        <button type="submit" class="btn btn-primary mt-3 "><i class="bi bi-plus-lg"></i> Añadir</button>
      </div>
    </form>
  </section>